mat-list {
  display: flex;
  flex-direction: row;
}

#menubutton {
  display: none;
  background-color: var(--app-main-color);
  transform: scale(1.5);
}

mat-menu {
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  #menubutton {
    display: flex;
  }
  #menu {
    display: none;
  }
}
