<nav id="menu">
  <mat-list>
    <mat-list-item *ngFor="let menumodel of menuService.getMenuModel()">
      <a mat-button [routerLink]="menumodel.link">{{menumodel.label}}</a>
    </mat-list-item>
  </mat-list>
</nav>

<button mat-flat-button id="menubutton" [matMenuTriggerFor]="menu" aria-label="Menü">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <ng-container *ngFor="let menumodel of menuService.getMenuModel()">
    <a mat-menu-item [routerLink]="menumodel.link">{{menumodel.label}}</a>
  </ng-container>
</mat-menu>
