<div>
  <a mat-button routerLink="/journal" >
    <mat-icon>arrow_back_ios</mat-icon>
    Zurück
  </a>
</div>
<h3>Tagebuch</h3>
<mat-stepper [linear]="true" [orientation]="(stepperOrientation | async)!">
  <mat-step [stepControl]="overviewForm" label="Übersicht">
    <form class="flex-column" [formGroup]="overviewForm">
      <mat-form-field id="journaldate">
        <mat-label>Datum</mat-label>
        <input matInput formControlName="entryDate" [max]="maxDate" [min]="minDate" [matDatepicker]="picker" (focus)="picker.open()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <h4>Überblick</h4>
      <section>
        <mat-label>Wie fühlst du dich?</mat-label>
        <div>
          <p>Schlecht</p>
          <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true"
                      [displayWith]="formatLabel">
            <input matSliderThumb formControlName="state"/>
          </mat-slider>
          <p>Gut</p>
        </div>
      </section>
      <section>
        <mat-label>Wie viel hast du dich körperlich betätigt?</mat-label>
        <div>
          <p>Gar nicht</p>
          <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true"
                      [displayWith]="formatLabel">
            <input matSliderThumb formControlName="physicalActivity"/>
          </mat-slider>
          <p>Viel</p>
        </div>
      </section>
      <section>
        <mat-label>Fühlst du eine Übelkeit oder Appetitlosigkeit?</mat-label>
        <div>
          <p>Gar nicht</p>
          <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true"
                      [displayWith]="formatLabel">
            <input matSliderThumb formControlName="nausea"/>
          </mat-slider>
          <p>Sehr</p>
        </div>
      </section>
      <section>
        <mat-label>Fühlst du dich müde und/oder abgeschlagen?</mat-label>
        <div>
          <p>Gar nicht</p>
          <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true"
                      [displayWith]="formatLabel">
            <input matSliderThumb formControlName="tired"/>
          </mat-slider>
          <p>Sehr</p>
        </div>
      </section>
      <section>
        <mat-label>Fühlst du dich wegen deiner Krebserkrankung psychisch belastet?</mat-label>
        <div>
          <p>Gar nicht</p>
          <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true"
                      [displayWith]="formatLabel">
            <input matSliderThumb formControlName="mentalStress"/>
          </mat-slider>
          <p>Sehr</p>
        </div>
      </section>
      <section>
        <mat-label>Fühlst du dich in deiner Lebensqualität eingeschränkt?</mat-label>
        <div>
          <p>Gar nicht</p>
          <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true"
                      [displayWith]="formatLabel">
            <input matSliderThumb formControlName="restrictedLiving"/>
          </mat-slider>
          <p>Sehr</p>
        </div>
      </section>
      <section>
        <mat-label>Wie viele Zigaretten hast du geraucht?</mat-label>
        <mat-slider [min]="0" [max]="100" step="1" [discrete]="true" [showTickMarks]="true" [displayWith]="formatLabel">
          <input matSliderThumb formControlName="smokedCigarettes"/>
        </mat-slider>
      </section>
      <section>
        <mat-label>Wie viele Gläser Alkohol hast du getrunken?</mat-label>
        <mat-slider [min]="0" [max]="30" step="1" [discrete]="true" [showTickMarks]="true" [displayWith]="formatLabel">
          <input matSliderThumb formControlName="alcohol"/>
        </mat-slider>
      </section>
      <section>
        <mat-form-field>
          <mat-label>Wie viel wiegst du?</mat-label>
          <input formControlName="weight" matInput type="number">
        </mat-form-field>
      </section>
    </form>
  </mat-step>
  <mat-step [stepControl]="symptomsForm" label="Symptome">
    <form [formGroup]="painForm">
      <h4>Schmerzen in Ruhe</h4>
      <section>
        <mat-label>Kopfschmerzen</mat-label>
        <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true" [displayWith]="formatLabel">
          <input matSliderThumb formControlName="headPain"/>
        </mat-slider>
      </section>
      <section>
        <mat-label>in der Nase</mat-label>
        <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true" [displayWith]="formatLabel">
          <input matSliderThumb formControlName="nosePain"/>
        </mat-slider>
      </section>
      <section>
        <mat-label>in der Mundhöhle</mat-label>
        <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true" [displayWith]="formatLabel">
          <input matSliderThumb formControlName="mouthPain"/>
        </mat-slider>
      </section>
      <section>
        <mat-label>im Rachen</mat-label>
        <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true" [displayWith]="formatLabel">
          <input matSliderThumb formControlName="throatPain"/>
        </mat-slider>
      </section>
      <section>
        <mat-label>im Halsbereich</mat-label>
        <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true" [displayWith]="formatLabel">
          <input matSliderThumb formControlName="neckPain"/>
        </mat-slider>
      </section>
    </form>
    <form [formGroup]="swallowForm">
      <h4>Probleme beim Schlucken</h4>
      <section>
        <mat-label>Schmerzen beim Schlucken</mat-label>
        <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true" [displayWith]="formatLabel">
          <input matSliderThumb formControlName="swallowPain"/>
        </mat-slider>
      </section>
      <section>
        <mat-label>Mundtrockenheit</mat-label>
        <div>
          <p>Keine</p>
          <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true"
                      [displayWith]="formatLabel">
            <input matSliderThumb formControlName="mouthDryness"/>
          </mat-slider>
          <p>Sehr Stark</p>
        </div>
      </section>
      <section>
        <mat-label>Riechen und/oder Schmecken</mat-label>
        <div>
          <p>Keine</p>
          <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true"
                      [displayWith]="formatLabel">
            <input matSliderThumb formControlName="smellTastingIssues"/>
          </mat-slider>
          <p>Große</p>
        </div>
      </section>
      <section>
        <mat-label>Herunterschlucken fester Speisen</mat-label>
        <div>
          <p>Keine</p>
          <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true"
                      [displayWith]="formatLabel">
            <input matSliderThumb formControlName="swallowingFood"/>
          </mat-slider>
          <p>Große</p>
        </div>
      </section>
      <section>
        <mat-label>Herunterschlucken von Flüssigkeiten</mat-label>
        <div>
          <p>Keine</p>
          <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true"
                      [displayWith]="formatLabel">
            <input matSliderThumb formControlName="swallowingDrinks"/>
          </mat-slider>
          <p>Große</p>
        </div>

      </section>
      <section>
        <mat-label>Verschlucken</mat-label>
        <div>
          <p>Keine</p>
          <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true"
                      [displayWith]="formatLabel">
            <input matSliderThumb formControlName="swallowUp"/>
          </mat-slider>
          <p>Große</p>
        </div>
      </section>
      <section>
        <mat-label>Ernährung über eine Magensonde</mat-label>
        <div>
          <p>Nie</p>
          <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true"
                      [displayWith]="formatLabel">
            <input matSliderThumb formControlName="feedingTube"/>
          </mat-slider>
          <p>Immer</p>
        </div>
      </section>
    </form>
    <form [formGroup]="breathForm">
      <h4>Probleme beim Atmen und Sprechen</h4>
      <section>
        <mat-label>Luftnot in Ruhe</mat-label>
        <div>
          <p>Keine</p>
          <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true"
                      [displayWith]="formatLabel">
            <input matSliderThumb formControlName="breathlessnessCalm"/>
          </mat-slider>
          <p>Sehr Stark</p>
        </div>
      </section>
      <section>
        <mat-label>Luftnot bei körperlicher Belastung</mat-label>
        <div>
          <p>Keine</p>
          <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true"
                      [displayWith]="formatLabel">
            <input matSliderThumb formControlName="breathlessnessActivity"/>
          </mat-slider>
          <p>Sehr Stark</p>
        </div>

      </section>
      <section>
        <mat-label>Husten</mat-label>
        <div>
          <p>Keine</p>
          <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true"
                      [displayWith]="formatLabel">
            <input matSliderThumb formControlName="coughing"/>
          </mat-slider>
          <p>Sehr Stark</p>
        </div>

      </section>
      <section>
        <mat-label>Heiserkeit</mat-label>
        <div>
          <p>Keine</p>
          <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true"
                      [displayWith]="formatLabel">
            <input matSliderThumb formControlName="hoarseness"/>
          </mat-slider>
          <p>Sehr Stark</p>
        </div>

      </section>
    </form>
    <form [formGroup]="bleedingForm">
      <h4>Blutungen</h4>
      <section>
        <mat-label>aus der Nase</mat-label>
        <div>
          <p>Nie</p>
          <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true"
                      [displayWith]="formatLabel">
            <input matSliderThumb formControlName="bleedNose"/>
          </mat-slider>
          <p>Ständig</p>
        </div>
      </section>
      <section>
        <mat-label>aus der Mundhöhle</mat-label>
        <div>
          <p>Nie</p>
          <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true"
                      [displayWith]="formatLabel">
            <input matSliderThumb formControlName="bleedMouth"/>
          </mat-slider>
          <p>Ständig</p>
        </div>
      </section>
      <section>
        <mat-label>aus tieferen Bereichen im Rachen</mat-label>
        <div>
          <p>Nie</p>
          <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true"
                      [displayWith]="formatLabel">
            <input matSliderThumb formControlName="bleedThroat"/>
          </mat-slider>
          <p>Ständig</p>
        </div>
      </section>
      <section>
        <mat-label>Das Blut wurde aus tieferen Bereichen ausgehustet</mat-label>
        <div>
          <p>Nie</p>
          <mat-slider [min]="0" [max]="10" step="1" [discrete]="true" [showTickMarks]="true"
                      [displayWith]="formatLabel">
            <input matSliderThumb formControlName="bleedDeep"/>
          </mat-slider>
          <p>Ständig</p>
        </div>
      </section>
    </form>
  </mat-step>
</mat-stepper>
<button mat-flat-button color="primary" (click)="saveJournalEntry()">
  Eintrag speichern
  <mat-icon>save</mat-icon>
</button>
