<a routerLink="/dashboard">Zurück</a>
<mat-card>
  <mat-card-header>
    <mat-card-title>Krebs im Mund-Kiefer-Gesichtsbereich</mat-card-title>
    <mat-card-subtitle>Infobroschüre als Pdf</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content><img ngSrc="assets/pdf.svg" width="50" height="50" />Der blaue Ratgeber mit Antworten, Hilfen und Perseptiven</mat-card-content>
  <mat-card-actions align="end">
    <button mat-icon-button (click)="openFile('Krebs-im-Mund-Kiefer-Gesichtsbereich.pdf')"><mat-icon>open_in_new</mat-icon></button>
  </mat-card-actions>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Krebs im Rachen und Kehlkopf</mat-card-title>
    <mat-card-subtitle>Infobroschüre als Pdf</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content><img ngSrc="assets/pdf.svg" width="50" height="50" />Der blaue Ratgeber mit Antworten, Hilfen und Perseptiven</mat-card-content>
  <mat-card-actions align="end">
    <button mat-icon-button (click)="openFile('Krebs-im-Rachen-und-Kehlkopf.pdf')"><mat-icon>open_in_new</mat-icon></button>
  </mat-card-actions>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Krebsinformationsdienst</mat-card-title>
    <mat-card-subtitle>Infobroschüre als Pdf</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content><img ngSrc="assets/pdf.svg" width="50" height="50" />dkfz. Deutsches Krebsforschungszentrum</mat-card-content>
  <mat-card-actions align="end">
    <button mat-icon-button (click)="openFile('Krebsinformationsdienst.pdf')"><mat-icon>open_in_new</mat-icon></button>
  </mat-card-actions>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Patientenbroschüre - Krebs was nun?</mat-card-title>
    <mat-card-subtitle>Infobroschüre als Pdf</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content><img ngSrc="assets/pdf.svg" width="50" height="50" />Mit wertvollen Tipps von Experten</mat-card-content>
  <mat-card-actions align="end">
    <button mat-icon-button (click)="openFile('Krebsinformationsdienst.pdf')"><mat-icon>open_in_new</mat-icon></button>
  </mat-card-actions>
</mat-card>
