<section>
  <button mat-button (click)="onBack()">
    <mat-icon>arrow_back_ios</mat-icon>
    Zurück
  </button>
</section>
<section>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Krebs im Mund-Kiefer-Gesichtsbereich</mat-card-title>
      <mat-card-subtitle>Infobroschüre als Pdf</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content><img ngSrc="assets/Kreb-Mund-Kiefer-Gesicht-Vorschau.png" width="100" height="100"/>Der blaue Ratgeber mit Antworten, Hilfen und
      Perseptiven
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-icon-button (click)="openFile('Krebs-im-Mund-Kiefer-Gesichtsbereich.pdf')">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Krebs im Rachen und Kehlkopf</mat-card-title>
      <mat-card-subtitle>Infobroschüre als Pdf</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content><img ngSrc="assets/Krebs-im-Rachen-und-Kehlkopf-Vorschau.png" width="100" height="100"/>Der blaue Ratgeber mit Antworten, Hilfen und
      Perseptiven
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-icon-button (click)="openFile('Krebs-im-Rachen-und-Kehlkopf.pdf')">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Krebsinformationsdienst</mat-card-title>
      <mat-card-subtitle>Infobroschüre als Pdf</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content><img ngSrc="assets/Krebsinformationsdienst-Vorschau.png" width="100" height="100"/>dkfz. Deutsches Krebsforschungszentrum
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-icon-button (click)="openFile('Krebsinformationsdienst.pdf')">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Patientenbroschüre - Krebs was nun?</mat-card-title>
      <mat-card-subtitle>Infobroschüre als Pdf</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content><img ngSrc="assets/Patientenbroschuere_Krebs-was_nun-Vorschau.png" width="100" height="100"/>Mit wertvollen Tipps von Experten
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-icon-button (click)="openFile('Krebsinformationsdienst.pdf')">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</section>
