<!--<section class="finaloverview">-->
<!--  <div><div>Benutzerart:</div><div>{{userTypeStep.get('userType')?.value}}</div></div>-->
<!--  <div><div>Vorname:</div><div>{{personDataStep.get('firstname')?.value}}</div></div>-->
<!--  <div><div>Nachname:</div><div>{{personDataStep.get('secondname')?.value}}</div></div>-->
<!--  <div><div>Geschlecht:</div><div>{{personDataStep.get('gender')?.value}}</div></div>-->
<!--  <div><div>Geburtsdatum:</div><div>{{personDataStep.get('birthdate')?.value | date}}</div></div>-->
<!--  <ng-container *ngIf="isPatientRegistration">-->
<!--    <div><div>Diagnose</div><div>{{cancerService.getDoctorCancerTypeText(cancerDataStep.get('cancerPosition')?.value)}}</div></div>-->
<!--    <div><div>Krankheitssituation</div><div>{{cancerService.getDoctorCancerSituationText(cancerDataStep.get('cancerSituation')?.value)}}</div></div>-->
<!--    <div><div>Therapie:</div><div>{{cancerTreatment.get('operation')?.value ? 'Operation' : ''}} {{cancerTreatment.get('infrared')?.value ? 'Bestrahlung' : ''}} {{cancerTreatment.get('medicin')?.value ? 'Chemo-/Immuntherapie' : '' }} {{cancerTreatment.get('other')?.value ? 'Sonstiges' : '' }}</div></div>-->
<!--  </ng-container>-->
<!--  <div><div>E-Mail:</div><div>{{contactDataStep.get('email')?.value}}</div></div>-->
<!--  <div><div>Benutzername:</div><div>{{contactDataStep.get('username')?.value}}</div></div>-->
<!--</section>-->
