<div>
  <a mat-button [routerLink]="'/dashboard'">
    <mat-icon>arrow_back_ios</mat-icon>
    Zurück
  </a>
</div>
<section>
  <mat-card *ngFor="let entry of entries">
    <mat-card-header>
      <mat-card-title>Eintrag: {{ entry.overview.entryDate | date }}</mat-card-title>
      <mat-card-subtitle>Befinden: {{ entry.overview.state }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <a mat-icon-button [routerLink]="['/journal/edit', { data: entry.overview.entryDate.getTime()}]">
        <mat-icon>edit</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
</section>

<a mat-raised-button color="primary" [routerLink]="'/journal/edit'">Tagebucheintrag erstellen</a>
