:host {
  display: flex;
  flex: 1;
  flex-direction: column;
}

section {
  display: flex;
  flex: 1;
  align-items: center;
  flex-wrap: wrap;
}

mat-card {
  width: 20rem;
  margin: 1rem;
  background-color: var(--app-accent-color);
}

a {
  margin-bottom: 0.5rem;
}

mat-card-content > img {
  margin: 0 20px 0 0;
}

mat-card > mat-card-actions > a {
  background-color: #D0D6B5;
}

mat-card-content {
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
}
