<div class="chart-container">
  <canvas baseChart width="400" height="400"
          [type]="'line'"
          [data]="firstLineChartData"
          [options]="firstLineChartOptions"
          [legend]="lineChartLegend">
  </canvas>
  <canvas baseChart width="400" height="400"
          [type]="'line'"
          [data]="secondLineChartData"
          [options]="secondLineChartOptions"
          [legend]="lineChartLegend">
  </canvas>
  <canvas baseChart width="400" height="400"
          [type]="'line'"
          [data]="thirdLineChartData"
          [options]="thirdLineChartOptions"
          [legend]="lineChartLegend">
  </canvas>
  <canvas baseChart width="400" height="400"
          [type]="'line'"
          [data]="fourthLineChartData"
          [options]="fourthLineChartOptions"
          [legend]="lineChartLegend">
  </canvas>
  <canvas baseChart width="400" height="400"
          [type]="'line'"
          [data]="fifthLineChartData"
          [options]="fifthLineChartOptions"
          [legend]="lineChartLegend">
  </canvas>
  <canvas baseChart width="400" height="400"
          [type]="'line'"
          [data]="sixthLineChartData"
          [options]="sixthLineChartOptions"
          [legend]="lineChartLegend">
  </canvas>
  <canvas baseChart width="400" height="400"
          [type]="'line'"
          [data]="seventhLineChartData"
          [options]="seventhLineChartOptions"
          [legend]="lineChartLegend">
  </canvas>
  <canvas baseChart width="400" height="400"
          [type]="'line'"
          [data]="eightLineChartData"
          [options]="eightLineChartOptions"
          [legend]="lineChartLegend">
  </canvas>
</div>

