:host {
  display: flex;
  flex: 1;
}

h2 {
  text-align: center;
}

.register-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
  text-align: center;
}
