<div class="flex-column text-align-center" xmlns="http://www.w3.org/1999/html">
  <h2> Herzlich willkommen bei HealConnect! </h2>

  <p>
    Wir freuen uns, dass du unsere Kommunikationsplattform für Patienten mit Kopf- und Halskrebs nutzt.
  </p>
  <div>
    <p>
      Auf unserer Plattform hast du als <b>Patient</b> die Möglichkeit:
    </p>
    <ul>
      <li>in täglichen Tagebucheinträgen (Journal) deinen Gesundheitszustand sowie Symptome in Bezug auf deine Krebserkrankung anzugeben.</li>
      <li>dir in übersichtlichen Grafiken die Änderungen von Gesundheitszustand und Krankheitssymptomen anzeigen zu lassen (Statistik).</li>
      <li>in unserem Informationsbereich interessantes Hintergrundwissen zu deiner Krebserkrankung sowie Kontakte zu Selbsthilfegruppen und dem Krebsinformationsdienst zu erhalten.</li>
    </ul>
  </div>

  <p>
    Als <b>Arzt</b> hast du die Möglichkeit, die Einträge deiner Patienten einzusehen und sie nach Bedarf zu kontaktieren.
  </p>
  <p>
    Wir hoffen, mit unserer Plattform die Behandlung und Nachsorge von Patienten mit Kopf-Halskrebs nachhaltig zu verbessern!
  </p>

  <div class="text-align-center flex-column padding-button">
    <button mat-raised-button color="primary" [routerLink]="'/login'">
      <mat-icon>account_circle</mat-icon>
      Jetzt Anmelden.
    </button>
    <button mat-raised-button color="primary" [routerLink]="'/register'">
      <mat-icon>account_circle</mat-icon>
      Jetzt Registrieren.
    </button>
    <a ></a>
  </div>
</div>
