<div class="flex-column">
  <h3> Registrieren </h3>

  <mat-stepper [linear]="true" [orientation]="(stepperOrientation | async)!">
    <mat-step [stepControl]="userTypeStep" label="Willkommen">
      <section>
        <h4>Willkommen! Bist du ein Arzt oder ein Patient?</h4>
        <form class="flex-column" [formGroup]="userTypeStep">
          <mat-form-field>
            <mat-label>Benutzerart:</mat-label>
            <mat-select id="userType" formControlName="userType">
              <mat-option value="Patient">Patient</mat-option>
              <mat-option value="Arzt">Arzt</mat-option>
              <mat-option value="Arzthelfer">Arzt-Helfer</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <button mat-raised-button color="primary" matStepperNext>Weiter</button>
      </section>
    </mat-step>
    <mat-step [stepControl]="personDataStep" label="Wer bist du?">
      <section>
        <h4>Erzähle uns etwas über dich.</h4>
        <form class="flex-column" [formGroup]="personDataStep">
          <mat-form-field>
            <mat-label>Vorname:</mat-label>
            <input formControlName="firstname" matInput type="text">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nachname:</mat-label>
            <input formControlName="secondname" matInput type="text">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Geschlecht:</mat-label>
            <mat-select id="gender" formControlName="gender">
              <mat-option value="Frau">Frau</mat-option>
              <mat-option value="Mann">Mann</mat-option>
              <mat-option value="Divers">Divers</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Geburtsdatum</mat-label>
            <input matInput formControlName="birthdate" [matDatepicker]="picker" (focus)="picker.open()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div>
            <button mat-raised-button matStepperPrevious>Zurück</button>
            <button mat-raised-button color="primary" matStepperNext>Weiter</button>
          </div>
        </form>
      </section>
    </mat-step>
    <ng-container *ngIf="isPatientRegistration">
      <mat-step [stepControl]="cancerDataStep" label="Was hast du?">
        <section>
          <p>
            Liebe{{ genderValue == "male" ? 'r' : '' }} {{ firstnameValue }}, <br />
            damit du mit deiner Krebserkrankung möglichst gut betreut werden kannst,
            beantworte bitte folgende Fragen.
          </p>
          <form class="flex-column" [formGroup]="cancerDataStep">
            <label id="cancer-position-label">Wo genau wurde dein Kopf-Hals-Krebs am ehesten festgestellt?</label>
            <mat-radio-group aria-labelledby="cancer-position-label"
                             formControlName="cancerPosition"
                             class="flex-column">
              <mat-radio-button *ngFor="let cancerType of cancerTypes" [value]="cancerType.id">{{cancerType.patientText}}</mat-radio-button>
            </mat-radio-group>
            <label id="cancer-situation-label">Was beschreibt deine aktuelle Krankheitssituation am besten?</label>
            <mat-radio-group aria-labelledby="cancer-situation-label"
                             formControlName="cancerSituation"
                             class="flex-column">
              <mat-radio-button *ngFor="let cancerSituation of cancerSituations" [value]="cancerSituation.id">{{cancerSituation.patientText}}
              </mat-radio-button>
            </mat-radio-group>
            <section class="example-section" [formGroup]="cancerTreatment">
              <label id="cancer-treatment-label">Wie wurde bzw. wird dein Krebs behandelt (Mehrfachnennung
                möglich)?</label>
              <p>
                <mat-checkbox formControlName="operation">Operation</mat-checkbox>
              </p>
              <p>
                <mat-checkbox formControlName="infrared">Bestrahlung</mat-checkbox>
              </p>
              <p>
                <mat-checkbox formControlName="medicin">Medikamentöse Therapie (z.B. Chemotherapie, Immuntherapie)
                </mat-checkbox>
              </p>
              <p>
                <mat-checkbox formControlName="other">Sonstiges</mat-checkbox>
              </p>
            </section>
            <div>
              <button mat-raised-button matStepperPrevious>Zurück</button>
              <button mat-raised-button color="primary" matStepperNext>Weiter</button>
            </div>
          </form>
        </section>
      </mat-step>
    </ng-container>
    <mat-step [stepControl]="contactDataStep" label="Kontaktdaten">
      <section>
        <h4> Wie können wir dich in Zukunft erreichen?</h4>
        <form class="flex-column" [formGroup]="contactDataStep">
          <mat-form-field>
            <mat-label>E-Mail:</mat-label>
            <input formControlName="email" matInput type="text">
            <mat-error *ngIf="emailControl.errors?.email">Der eingegebene Wert ist keine valide E-Mail</mat-error>
            <mat-error *ngIf="emailControl.errors?.required">Du musst eine E-Mail eingeben</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Benutzername:</mat-label>
            <input formControlName="username" matInput type="text">
            <mat-error *ngIf="usernameControl.errors?.required">Du musst einen Username angeben</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Passwort:</mat-label>
            <input formControlName="password" matInput type="password">
            <mat-error *ngIf="passwordControl.invalid">Du musst ein Passwort eingeben</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Passwort Bestätigen:</mat-label>
            <input formControlName="confirmPassword" matInput type="password">
            <mat-error *ngIf="confirmPasswordControl.errors?.required">Du musst ihr Passwort bestätigen</mat-error>
          </mat-form-field>
          <mat-error *ngIf="formGroupError?.confirmFailed">Die Passwörter stimmen nicht überein</mat-error>
          <div>
            <button mat-raised-button matStepperPrevious>Zurück</button>
            <button mat-raised-button color="primary" matStepperNext>Weiter</button>
          </div>
        </form>
      </section>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Fertig</ng-template>
      <section>
        <h4>Abschluss der Registrierung</h4>
        <section class="finaloverview">
          <div><div>Benutzerart:</div><div>{{userTypeStep.get('userType')?.value}}</div></div>
          <div><div>Vorname:</div><div>{{personDataStep.get('firstname')?.value}}</div></div>
          <div><div>Nachname:</div><div>{{personDataStep.get('secondname')?.value}}</div></div>
          <div><div>Geschlecht:</div><div>{{personDataStep.get('gender')?.value}}</div></div>
          <div><div>Geburtsdatum:</div><div>{{personDataStep.get('birthdate')?.value | date}}</div></div>
          <ng-container *ngIf="isPatientRegistration">
            <div><div>Diagnose</div><div>{{cancerService.getDoctorCancerTypeText(cancerDataStep.get('cancerPosition')?.value)}}</div></div>
            <div><div>Krankheitssituation</div><div>{{cancerService.getDoctorCancerSituationText(cancerDataStep.get('cancerSituation')?.value)}}</div></div>
            <div><div>Therapie:</div><div>{{cancerTreatment.get('operation')?.value ? 'Operation' : ''}} {{cancerTreatment.get('infrared')?.value ? 'Bestrahlung' : ''}} {{cancerTreatment.get('medicin')?.value ? 'Chemo-/Immuntherapie' : '' }} {{cancerTreatment.get('other')?.value ? 'Sonstiges' : '' }}</div></div>
          </ng-container>
          <div><div>E-Mail:</div><div>{{contactDataStep.get('email')?.value}}</div></div>
          <div><div>Benutzername:</div><div>{{contactDataStep.get('username')?.value}}</div></div>
        </section>
        <ng-container *ngIf="registerIsFinished">
          <a [routerLink]="'/login'">Jetzt Anmelden.</a>
        </ng-container>
        <ng-container *ngIf="!registerIsFinished">
          <div>
            <button mat-raised-button matStepperPrevious>Zurück</button>
            <button mat-raised-button color="primary" [disabled]="!contactDataStep.valid"
                    (click)="sendRegistration()">Registrieren
            </button>
          </div>
        </ng-container>
      </section>
    </mat-step>
  </mat-stepper>

</div>
