:host {
  display: flex;
  justify-content: center;
  flex: 1;

  form {
    justify-content: center;
  }
}

h2 {
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  mat-slider {
    width: 100%;
  }

  div {
    display: flex;
    align-items: stretch;
    flex: 1;
  }
}

