<h1>Journal</h1>
<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Datum</mat-label>
    <input matInput formControlName="entryDate" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <section>
    <div>
      <label class="example-name-label">Value</label>
      <label class="example-value-label">{{slider.value}}</label>
    </div>
    <mat-slider [min]="0" [max]="10" step="1">
      <input matSliderThumb formControlName="state" #slider />
    </mat-slider>
  </section>
  <section>
    <label>Neue Symptome</label>
    <mat-button-toggle-group formControlName="newSymptoms">
      <mat-button-toggle value="true">Ja</mat-button-toggle>
      <mat-button-toggle value="false">Nein</mat-button-toggle>
    </mat-button-toggle-group>
  </section>

</form>

