:host {
  display: flex;
  justify-content: center;
  flex: 1;

  form {
    justify-content: center;
  }
}

h2 {
  text-align: center;
}

label {
  margin: 1rem;
}

section {
  display: flex;
  flex-direction: column;

  div {
   display: flex;
  }
}
