<a routerLink="/journal">
  <mat-card>
    <img ngSrc="assets/journal.svg" width="300" height="300" />
    <mat-card-content>Journal</mat-card-content>
  </mat-card>
</a>
<a routerLink="/info">
  <mat-card>
    <img ngSrc="assets/info.svg" width="300" height="300" />
    <mat-card-content>Informationsbereich</mat-card-content>
  </mat-card>
</a>
<a routerLink="/charts">
  <mat-card>
    <img ngSrc="assets/chart-line-up.svg" width="300" height="300" />
    <mat-card-content>Statistik</mat-card-content>
  </mat-card>
</a>
